<!-- Special thanks to chatgpt for writing the boilerplate -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chatbot</title>

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <link rel="stylesheet" href="../static/chatwindow.css">

  <!-- Add JavaScript code -->
  <script src="../static/chat.js"></script>
</head>

<body>

  <!-- Chat window -->
  <div id="chat-window"></div>

  <div style="background: rgb(46 73 105)">
  <!-- Chat form -->
    <form id="chat-form">
      <input type="text" id="user-message">
      <input type="submit" id="send-btn" value="Send">
    </form>

  
    <!-- Buttons to save and load chat history -->
    <form method="POST" action="/save_messages" enctype="multipart/form-data">
      <input type="text" name = "filename" id="filename" >
      <button type="submit">Save Chat History</button>
    </form>

    <form method="POST" action="/load_messages" enctype="multipart/form-data">
      <input type="file" name="file" accept=".pkl">
      <button type="submit">Load Chat History</button>
    </form>
  </div>

</body>
</html>